<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;
            align-items: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <form action="/user" method="post">
        <div>
            <label for="Full name">Enter Full Name</label>
            <input type="text" name="name" id="" required>
        </div>

        <div>
            <label for="email">Enter Email</label>
            <input type="text" name="email" id="">
        </div>

        <div>
            <label for="Full name">Enter Password:</label>
            <input type="text" name="password" id="">
        </div>
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
</body>

</html>